
.box{
  border: 50px solid red; 
  width: 200px;
  padding: 50px;
}


.green{
  border-color: 50px solid green;
  margin-top: 20px;
  padding: 50px;
   /* display: none; */
  /* visibility: hidden; */
}


.blue{
  border-color: 50px solid blue;
  margine-top: 20px;
  padding: 50px; 
}